@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

/* (optional) nicer scrolling */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
*::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
*::-webkit-scrollbar-track {
    background: #f1f5f9;
    border-radius: 8px;
}
*::-webkit-scrollbar-track:hover {
    background: #e2e8f0;
}
* {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 #f1f5f9;
}
* {
    scrollbar-color: #cbd5e1 #f1f5f9;
    scrollbar-width: thin;
}